<div class="account-sidebar">

<h6 class="mb-3"><%= user.name %></h6>

<a href="/user/profile">
<i class="fa fa-user"></i> Profile Settings
</a>

<a href="/user/orders">
<i class="fa fa-box"></i> My Orders
</a>

<a href="/user/wishlist">
<i class="fa fa-heart"></i> Wishlist
</a>

<a href="/user/addresses">
<i class="fa fa-location-dot"></i> Addresses
</a>

<a href="/user/coupons">
<i class="fa fa-ticket"></i> Coupons
</a>

<a href="/user/wallet">
<i class="fa fa-wallet"></i> My Wallet
</a>

<hr>

<a href="/user/logout" class="text-danger">
<i class="fa fa-sign-out"></i> Logout
</a>

</div>